body {
    background-color: lightblue;
}

.contenedor-principal {
    font-size: 20px;
}

.titulo-embebido {
    text-decoration: underline;
    color: white;
}

.primer-parrafo {
    color: navy;
    font-weight: bold;
}

.segundo-parrafo {
    text-transform: uppercase;
    text-align: justify;
}

.texto-italica {
    font-style: italic;
}
